# dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# environment variables
.env
.env.local
.env.*.local

# allow example env
!.env.example

# build output
dist/
build/

# logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db

# editor
.vscode/
.idea/

# misc
coverage/